{% extends "minimal.html" %}
{% block content %}

  <div class="container">
    <h1 style="text-align: center;padding-top: 40px; padding-bottom: 40px">Demo Blog.</h1>
      <div class="row">
        <div class="col">
                 {% for post in data %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary float-left">Olvasson tovább &rarr;</a>
                    </div>
                </div>
            {% endfor %}



          </div>
      </div>
</div>

{%endblock%}


</body>
</html>