
{% extends 'minimal.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
        <div id="like-buttons"></div>
            {% include 'like_button.html' %}


      </div>
    </div>
  </div>
</div>
    <script type="text/javascript">
    $(document).ready(function(event){
      $(document).on('click', '#like', function(event){
          event.preventDefault();
          let pk = $(this).attr('value');
          let btn = document.getElementById('like');
          $.ajax({
              type: 'POST',
              url: '{% url "like_post" %}',
              data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              dataType: 'json',
              success: function (response){
                if(response['is_liked']=== true){
                    btn.classList.add('btn-danger');
                    btn.classList.remove('btn-primary');
                    btn.innerText = 'Nem tetszik';
                }else if(response['is_liked']=== false){
                    btn.classList.add('btn-primary');
                    btn.classList.remove('btn-danger');
                    btn.innerText = 'Tetszik';

                }



              },
              error: function(rs,e){
                  console.log(rs.responseText);
              }


          })
      })
    })
</script>

{% endblock content %}